body {
    background-color: #f8f9fa;
    color: #1c1c1c;
    font-family: sans-serif;
}

.image-container {
    position: fixed;
    left: 50px;
    bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

.image-container img {
    width: 60px;
    height: auto;
    filter: invert(1) brightness(0);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 90vw;
    padding: 5px 0 123px;
    gap: 20px;
    margin: 0 auto;
}

.input-container {
    display: flex;
    width: 80vw;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.05);
    font-size: 1.1em;
    border-radius: 10px;
    text-align: center;
    gap: 10px;
    height: auto;
    border: 1px solid #e0e0e0;
}

.input-container div {
    width: 100%;
}

#inputContainer1 {
    padding-bottom: 5px;
}

#inputContainer2 {
    display: flex;
    flex-direction: column;
}

#inputContainer3 {
    flex-direction: row;
    display: none;
    align-items: center;
    width: auto;
    position: relative;
    flex-direction: column;
}

.textBox {
    width: 10vw;
    padding: 10px;
    background-color: #ffffff;
    color: #1c1c1c;
    text-align: left;
    overflow-wrap: break-word;
    word-break: break-word;
    font-family: sans-serif;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #d0d0d0;
}

.textBox:empty::before,
.keyContent:empty::before  {
    content: attr(placeholder);
    color: gray;
    pointer-events: none;
}


#inputContainer1 .textBox {
    min-height: 60vh;
}

.keyContent {
    color: #1c1c1c;
    padding: 8px 12px;
    cursor: text;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #ffffff;
    max-width: 120px;
    border: 1px solid #d0d0d0;
    font-size: 13px;
}

.buttContent {
    color: #1c1c1c;
    border: 1px solid rgb(83, 67, 138);
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    margin-right: 0;
    margin-top: 10px;
    float: right;
    background-color: transparent;
}

#updateCanvasButton {
    background-color: rgb(83, 67, 138);
    color: white;
}

#updateCanvasButton:hover {
    background-color: rgb(94, 74, 161);
}

.buttContent:hover {
    background-color: #eef1ff;
}

.buttContent:active,
#updateCanvasButton:active {
    color: white;
    background-color: rgb(67, 50, 128);
}

/* #keycontent {
    max-width: 120px;
} */

#ocrRESULT {
    text-align: center;
    letter-spacing: 0.5em;
}

#ocrOutput{
    min-height: 40px;
}

h4 {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 10px;
}

.grid-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2px;
    border-radius: 5px;
    background-color: #f3f4f6;
    justify-items: center;
    border: 1px solid #e0e0e0;
}

.editable {
    text-align: center;
    flex-grow: 1;
    padding: 5px;
    color: #1c1c1c;
    background: #eaeaea;
    max-width: 25px;
    word-break: break-word;
    overflow-wrap: break-word;
    border-radius: 5px;
    border: 1px solid #9e9999;
}

.red-font {
    color: red !important;
}

.green-font {
    color:	#2ECC71 !important;
}

footer {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
    background-color: #e9ecef;
    color: #212529;
    border-radius: 5px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding-bottom: 10px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 5px;
}

.footer-acknowledgement {
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 5px;
}

.footer-item,
.footer-item-below {
    display: flex;
    align-items: center;
    gap: 8px;
    color: black;
    text-decoration: none;
    font-size: 1em;
}

.footer-item:hover {
    text-decoration: underline;
}

.footer-logo {
    width: 20px;
    height: 20px;
}

.notifications-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
    bottom: 120px;
    right: 6px;
}

.notifications {
    position: relative;
    min-width: 200px;
    min-height: 10px;
    width: auto;
    height: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 600px;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 25px;
    padding-right: 40px;
    border-radius: 10px;
    font-size: 1em;
    z-index: 2;
    background-color: #f1f3f5;
    color: #1c1c1c;
    display: flex;
    align-items: center;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(20px);
    animation: fadeIn 0.3s forwards;
}

.closeButt {
    position: absolute;
    top: 8px;
    right: 12px;
    background: none;
    border: none;
    color: #1c1c1c;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(20px);
    }
}

.sideButt{    
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mode-toggle,
.scrolldown {
    /* position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5px; */
    width: 46px;
    height: 46px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2em;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    color: #111;
}

/* .scrolldown{
    top: 60px;
} */

.mode-toggle:hover,
.scrolldown:hover {
    background-color: #e0e0e0 !important;
}

.scrolldown svg {
    fill: currentColor;
}

.scrolldown:hover svg {
    fill: black;
}

#ocrController {
    display: flex;
    flex-direction: column;
}

#ocrController p {
    padding: 0;
    margin: 0;
}

.canvas-controls {
    display: flex;
    gap: 45px;
    justify-content: center;
}

#ocrCharMargin,
#ocrFontSize,
#ocrSidePadding {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1em;
    color: #111;
    background-color: #fff;
    border: 1px solid #ccc;
}

.ocrcheckmark {
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

body.dark-mode .input-container {
    background-color: #333;
    border: 0px;
}

body.dark-mode footer,
body.dark-mode .footer-item,
body.dark-mode .footer-item-below {
    background-color: #222;
    color: white;
}

body.dark-mode .textBox,
body.dark-mode .keyContent {
    background-color: #464646;
    color: #cecece;
    border-color: #333333;
}

body.dark-mode .editable {
    background: #5e5e5e;
    color: #ffffff;
    border: 0px;
}

body.dark-mode .image-container img {
    filter: invert(0) brightness(1);
}

body.dark-mode .grid-item {
    background-color: #222;
    border: 0;
}

body.dark-mode .notifications {
    background-color: #242323;
    color: white;
}

body.dark-mode .closeButt {
    color: white;
}

body.dark-mode .buttContent{
    color: white;
}

body.dark-mode .mode-toggle,
body.dark-mode .scrolldown {
    background-color: #333;
    color: #f0f0f0;
    border-color: #444;
}

body.dark-mode ::placeholder {
    color: #a3a3a3;
}

.ocr-pending {
    color: red;
}

.ocr-group-wrapper {
    display: flex;
    gap: 10px;
}

.char-wrapper .textBox {
    text-align: center;
}

@media (max-width: 1600px) {
    .grid-container {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 720px) {
    .input-container {
        flex-direction: column;
    }

    #outputContent1 {
        min-height: 30vh;
    }

    #inputContainer2 {
        margin-bottom: 3vh;
    }

    #ocrRESULT {
        letter-spacing: 0;
    }

    .image-container {
        visibility: hidden;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
